<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @passenger.name %></h1>
    <p>
      You have successfully booked a flight!
    </p>
    <p>Thanks for Booking a flight with us and have a great day!</p>
  </body>
</html>